<h1>Book list</h1>
<a routerLink="/book/create">Add Book</a>
<br>
<h2>Number of Books: {{bookLength}}</h2>
<table border="1">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Author</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let book of books; index as i">
    <td>{{i + 1}}</td>
    <td><a [routerLink]="['/book/view',book.id]">{{book.title}}</a></td>
    <td>{{book.author}}</td>
    <td><a [routerLink]="['/book/edit',book.id]">Edit</a></td>
    <td><a [routerLink]="['/book/delete',book.id]">Delete</a></td>
  </tr>
</table>
